{% extends 'base.html' %}

{% block content %}
    <div class="row mt-4">
        <div class="col">
            <h1>Add Items:</h1>
            <form class="form-inline" action="{% url 'to_do_app:add' %}"  method="post">
                {% csrf_token %}
                <input type="text" class="form-control mb-2 mr-sm-2" minlength="3" name="todo" placeholder="type here..." required>
                <button type="submit" class="btn btn-primary mb-2">Submit</button>
            </form>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col">
            <ul class="list-group">
                {% for todo in todos %}
                    <li class="list-group-item">{{ todo.text }}
                        <div class="float-right">
                            
                            <form action="{% url 'to_do_app:del' todo.id %}" method="post">
                                {% csrf_token %}
                                {{todo.date_added|date:'M d, Y H:i'}}
                                <button type="submit" class="btn btn-danger btn-sm ml-4">Delete</button>
                            </form>
                        </div>
                    </li>
                {% empty %}
                    <h1 style="text-align: center">No Items To do ...</h1>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock content %}
